<div>
    <section>
        {{#each meleeWeapons as |weapon id|}}
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/cards/melee-weapon-card.hbs" weapon}}            
        {{/each}}
    </section>
</div>