<div class="actor-sheet-body">
    <div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-skill-block.hbs"}}
        </div>
    </div>
</div>