<div class="actor-sheet-body">
    <div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-def-block.hbs"}}
        </div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-arm-block.hbs"}}
        </div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-initiative-block.hbs"}}
        </div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-commandRange-block.hbs"}}
        </div>
    </div>
    <div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-stat-block.hbs"}}
        </div>
    </div>
    <div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-vital-spiral-block.hbs"}}
        </div>
        <div class="info-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-xp-block.hbs"}}
        </div>
    </div>
</div>