<form class="{{cssClass}}" autocomplete="off">
    <header class="actor-sheet-header-block">
        {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-header-block.hbs"}}
    </header>
    <div class="actor-sheet-body">
        <div class="actor-sheet-stat-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-stat-block.hbs"}}
        </div>
        <div class="actor-sheet-damage-capacity-block">
            {{> "systems/iron-kingdoms-rpg/templates/actor/partials/character-vital-spiral-block.hbs"}}
        </div>
    </div>
</form>