@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to iron-kingdoms-rpg sheets */
.iron-kingdoms-rpg .item-form {
  font-family: "Roboto", sans-serif;
}

.iron-kingdoms-rpg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.iron-kingdoms-rpg .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.iron-kingdoms-rpg .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.iron-kingdoms-rpg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.iron-kingdoms-rpg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.iron-kingdoms-rpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.iron-kingdoms-rpg .sheet-body,
.iron-kingdoms-rpg .sheet-body .tab,
.iron-kingdoms-rpg .sheet-body .tab .editor {
  height: 100%;
  min-height:150px;
}

.iron-kingdoms-rpg .tox .tox-editor-container {
  background: #fff;
}

.iron-kingdoms-rpg .tox .tox-edit-area {
  padding: 0 8px;
}

.iron-kingdoms-rpg .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.iron-kingdoms-rpg .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.iron-kingdoms-rpg .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.iron-kingdoms-rpg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.iron-kingdoms-rpg .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.iron-kingdoms-rpg .items-list .item-header {
  font-weight: bold;
}

.iron-kingdoms-rpg .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.iron-kingdoms-rpg .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.iron-kingdoms-rpg .items-list .item img {
  display: block;
}

.iron-kingdoms-rpg .items-list .item-name {
  margin: 0;
}

.iron-kingdoms-rpg .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

/*Character Sheet*/
.actor-sheet-body
{
   display: flex;
}

/*Stats Block*/
.actor-sheet-stat-value
{
   background-color: white;
    border: 1px solid;
    display: inline-block;
    width: 4em;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 1em;
}
.actor-sheet-stat-box
{
   display: inline-block;
   width: 1.5em !important;
   height: 1.5em !important;
   position: relative;
   top: -0.5em;
}
.actor-sheet-stat-name-label
{   
   display: inline-block;
   font-weight: bold;
   font-size: 1em;
}
.actor-sheet-stat-value-max
{
   background-color:white;
   
   border: 1px solid;
   display: inline-block;
   width: 4em;
   margin-right: .5em;
   margin-bottom: .5em;
   padding: 1em 1em 1em 1em;
}
.actor-sheet-stat-box-max
{
   width: 1.5em !important;
   height: 1.5em !important;
   top: -3em;
   border-radius: .5em;
}
.actor-sheet-stat-max-label
{   
   display: inline-block;
   font-size: .9em;
}
.actor-sheet-stats-table-label
{
   background-color: black;
   color: white;
   width: 20%;

   border-top: none;
   display: table-caption;
}
.actor-sheet-stat-table
{
   border: 1px solid;
   border-radius: 0em .5em .5em .5em;
   border-collapse:separate;
   display: table-caption;
}
/*End Stat Block*/

/*Header Block*/
.actor-sheet-header-table-label
{
   background-color: black;
   color: white;

   border-top: none;
   display: table-caption;
}
.actor-sheet-header-table
{
   border: 1px solid;
   border-radius: 0em 0em .5em .5em;
   border-collapse:separate;
}
.actor-sheet-header-field-box
{
   outline: 0 !important;
   border-width: 0 0 2px !important;
}
.actor-sheet-header-field-name-label
{
   font-weight: bold;
}
/*End Header Block*/

/*Skill Block*/
.actor-sheet-skill-table-label
{
   background-color: black;
   color: white;
   width: 20%;

   border-top: none;
   display: table-caption;
}
.actor-sheet-skill-table
{
   border: 1px solid;
   border-radius: 0em .5em .5em .5em;
   border-collapse:separate;
   display: table-caption;
}
.actor-sheet-skill-block
{
   margin-left: .5em;
}

.actor-sheet-skill-value
{
   background-color: white;
    border: 1px solid;
    display: inline-block;
    width: 2em !important;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 1em;
}
/*End Skill Block*/

/*Start Damage Capacity*/
.actor-sheet-damage-capacity-table-label
{
   background-color: black;
   color: white;
   width: 60%;

   border-top: none;
   display: table-caption;
}
.actor-sheet-damage-capacity-block
{
   margin-left: .5em;
}
.actor-sheet-damage-capacity-checkbox-line
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.actor-sheet-damage-capacity-phy-group
{
  background-color: rgba(40, 85, 209, 0.534);
}

.actor-sheet-damage-capacity-agl-group
{
  background-color: rgba(216, 24, 24, 0.534) !important;
}

.actor-sheet-damage-capacity-int-group
{
  background-color: rgba(21, 143, 10, 0.534);
}


/*End Damage Capacity*/
/*End Character Sheet*/

/*Item Sheet*/
.description-block {
  min-height: 150px;
  height: 100%;
}

.iron-kingdoms-rpg .description-block .editor {
  height: 100%;
  min-height: 145px;
  width:100%
}

/* Race */
.race-sheet-header-row{
  background-color: black;
  color: white;
  font-weight: bold;
}

.race-sheet-header-cell{
  background-color: black;
  color: white;
  font-weight: bold;
}

.race-sheet-starter-field {
  background-color: #c7cfad;
  
}

.race-sheet-advancement-field {
  background-color: #d3c2af;
}