<section>
    <table class="actor-sheet-header-table">
        <caption class="actor-sheet-header-table-label">
            {{localize "ikrpg.itemSheetLabels.headerBlock.title"}}
        </caption>
        <tr>
            <td>
                <div class="actor-sheet-header-field">
                    <input 
                        class="actor-sheet-header-field-box"
                        name="data.name.value"
                        type="text"
                        value="{{data.name.value}}"
                        data-type="Text"
                    />
                    <label class="actor-sheet-header-field-name-label">
                        {{localize "ikrpg.itemSheetLabels.headerBlock.name"}}
                    </label>
                </div>
            </td>
        </tr>
    </table>
</section>